<h1>Word Counter</h1>
<h2>You are searching for <b><%= @search_word %></b> within the following text:</h2>
<br>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;<%= @sentence %></h3>
<br>
<h2><b><%= @search_word %></b> occurs <b><%= @number_of_occurences %></b> times within text.</h2>
