<h1>Word Counter</h1>
<h3>Pick a word, and find out how many times it occurs in a sentence or paragraph.</h3>
<form action='/counter'
  <div class='form group'>
    <label for='search_word'>Enter the word you want to search for.</label>
    <input id='search_word' name='search_word' class='form-control' type='text'>
    <label for='sentence'>Enter the sentence, or paragraph that you want to search through.</label>
    <input id='sentence' name='sentence' class='form-contol' type='text'>
  </div>
  <button id='submit_search' type='submit' class='btn-success'>Submit<button>
</form>
